.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1044px;
  height: 367px;
  left: 174px;
  top: 140px;
}

.intro h2 {
  width: 1044px;
  height: 210px;
  text-align: left;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intro p {
  width: 789px;
  height: 157px;
  text-align: left;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.boton-principal {
  font-size: 24px;
  border-radius: 20px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 250px;
  height: 50px;
  left: -2px;
  background-color: #000000;
  color: #ffffff;
}
