.title_fazemos {
    position: absolute;
    width: 376px;
    height: 70px;
    left: 668px;
    top: 1004px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;

    color: white;

}