.body_credito{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 430px;
    padding-bottom: 198px;
    gap: 48px;
    color: #FFFFFF;

    width: 1200px;
    height: 182px;


    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}



.body_credito img{
    width: 118px;
    height: 120px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.box_desing{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 262px;
    height: 125px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.box_desing h3{
    width: 216px;
    padding-bottom: 35px;
    
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}



.box_cien{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 263px;
    height: 182px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.box_cien h3{
    width: 290px;
    padding-bottom: 10px;

    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.box_profess{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 285px;
    height: 149px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

.box_profess h3{
    width: 285px;
    padding-bottom: 8px;
    
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}