:root {
  --primary: #656565;
  --secundary: #ffffff;
  --gep: 1.5rem;
}

.whitebg {
  position: absolute;
  width: 1728px;
  height: 640px;
  left: -2px;
  top: -5px;
}

.menu {
  position: absolute;
  width: 100%;

}

.main_content {
  max-width: 1200px;
  margin: 0;
  margin: auto;
  padding: var(--gep);
}

.main_content img{
  width: 80px;
  height: 80px;
  
}

.menu_content {
  display: flex;
  justify-content: space-between;
  padding-top: 1;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 1.5rem;
  color: black;
  padding: 20px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  display: block;
  padding: 20px;
  font-size: 1.3rem;
  position: relative;
  color: white;
}

.menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  left: 29%;
  width: 0;
  height: 0.2rem;
  background: burlywood;
  transition: all 300ms ease-in-out;
}

.menu ul li:hover::after {
  width: 50px;
  left: 25%;
}

.menu h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1044px;
  height: 367px;
  left: 174px;
  top: 286px;
}

a { 
  text-decoration: none; 
  color: inherit; }