.body_projeto{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
  max-width: 1234px;
  min-width: 590px;
  height: 550px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}



.body_projeto h1 {
  position: absolute;
  max-width: 313px;
  min-width: 313px;
  height: 70px;
  left: 500px;
  top: 670px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  color: #2C360B;
}

.titulo p {
  position: absolute;
  max-width: 900px;
  min-width: 590px;
  height: 70px;
  left: 195px;
  top: 750px;
  color: #000000;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.box_start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  max-width: 1050px;
  min-width: 590px;
  height: 406px;
  left: 40px;
  top: 850px;
}

.box_start p {
  
  width: 326px;
  height: 164px;
  left: 32px;
  top: 218px;
  
  font-family: 'Lato';
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  
  
  color: #484848;
    
  }



.box_zero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 32px;

  width: 390px;
  height: 406px;

  background: #fcfcfc;
  box-shadow: 4px 14px 34px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.box_um {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 32px;

  width: 390px;
  height: 406px;

  background: #fcfcfc;
  box-shadow: 4px 14px 34px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}



.box_dois {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 32px;

  width: 390px;
  height: 406px;

  background: #fcfcfc;
  box-shadow: 4px 14px 34px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}



